@import "tailwindcss";

#hero {
  background-image: url(../src/assets/banner/men_banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#fashion {
  background-image: url(../src/assets/fashion/1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}